<html>
	<head>
		<title>EncomendaZ</title>
	</head>
	<body>
		Olá $encomenda.to.name! 

		Sua encomenda de código <strong>$encomenda.code</strong> mudou de situação nos Correios.<br/> Para acompanhar, acesse
		o site http://websro.correios.com.br/sro_bin/txect01$.QueryList?P_LINGUA=001&P_TIPO=001&P_COD_UNI=$encomenda.code 

		<br/><br/>

		Abaixo estão todos os estados da sua encomenda.<br/>
		#foreach ($status in $encomenda.statuses)
			<strong>$status.status</strong> - $status.date - $status.place - $status.details<br/>
		#end
	</body>
</html>